body{
    background-color: #333;
}

.container{
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.title{
    text-align: center;
    h1{
        margin-bottom: 0;
    }
    h3{
        padding: 0;
        margin: 0;
    }
}

.trabalhos{
    display: flex;
    justify-content: space-evenly;
}

.fausto, .gabriel, .claudia{
    text-align: center;
    border: 1px solid white;
}